@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 dark:bg-[#050505] dark:text-white transition-colors duration-300;
}

.fade-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
  z-index: 10;
}

.fade-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 100%;
  background: linear-gradient(to left, black, transparent);
  z-index: 10;
}

.hero-grid {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    );
  background-size: 40px 40px;
}

.input {
  @apply w-full px-4 py-3 bg-black border border-neutral-800 rounded-lg;
}